
#fondo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}
#logo{
    margin-top: 20px;
    margin-left: 60px;
    padding: auto;
}
header{
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
}
#menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
#menu a:hover {
    color: rgb(0, 0, 0);
}
#buscador a:hover {
    color: rgb(167, 164, 164);
}
#buscador a{
    text-decoration: none;
    color: rgb(2, 2, 2);
}
p{
    font-family: PT sans Narrow;
}
ul{
    display: flex;
    margin: 10px;
    padding: 5px;
    list-style-type: none;
    font-family: PT sans Narrow;

}
li{
    margin: 15px;
    font-family: PT sans Narrow;

}
#galeria{
    margin-top: 35px;
   text-align: center;
}
footer{
    margin-top: 70px;
    margin-left: 60px;
}
#video{
    margin-top: 65px;
    text-align: center;
}
iframe{
    width: 70%;
    height:500px;
}
#iconos a{
    color: black;
    margin: 10px;
}
#pie{
    display: flex;
    flex-direction: row;
}
.he{
    display: flex;
    flex-direction: column;
}
.he a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 20px;
}
.he a:hover {
    color: rgb(150, 150, 150);
    text-decoration: underline;
}

